<a href="https://colab.research.google.com/github/universeatmyfeet/NLP/blob/master/Homework/NLP_20thDec_HW_J051_Credit_fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import classification_report, confusion_matrix

In [0]:
data = pd.read_csv("/content/Credit_card_Defaulters.csv")#downloaded from kaggle

In [0]:
df = data.copy()

In [4]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [0]:
df.rename(columns = {'default.payment.next.month':'default'}, inplace = True)

In [6]:
df.head()

   ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  default
0   1    20000.0    2          2  ...       0.0       0.0       0.0        1
1   2   120000.0    2          2  ...    1000.0       0.0    2000.0        1
2   3    90000.0    2          2  ...    1000.0    1000.0    5000.0        0
3   4    50000.0    2          2  ...    1100.0    1069.0    1000.0        0
4   5    50000.0    1          2  ...    9000.0     689.0     679.0        0

[5 rows x 25 columns]

In [8]:
pd.value_counts(df['default'].values)

0    23364
1     6636
dtype: int64

In [0]:
X = df.drop(['default'],1)
y= df['default']

In [0]:
X_train,X_test,y_train,y_test = tts(X,y,random_state = 42)

In [0]:
gnb = GaussianNB()

In [0]:
model1 = gnb.fit(X_train,y_train)
y_pred = model1.predict(X_test)

In [13]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.24      0.89      0.38      1604
           1       0.89      0.24      0.38      5896

    accuracy                           0.38      7500
   macro avg       0.56      0.57      0.38      7500
weighted avg       0.75      0.38      0.38      7500

In [14]:
print(confusion_matrix(y_pred,y_test))

[[1420  184]
 [4453 1443]]